body {
    margin: 0;
}
.navigation {
    height: 60px;
    background-color: #4da6ff;
    padding: 0;
    margin: 0;
    list-style: none;
}
.navigation > li {
    display: inline-block;
    line-height: 60px;
    font-size: 20px;
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
}
.navigation > li:hover {
    background-color: #0000ff;
}
.navigation > li.active {
    background-color: #2b91af;
}