<header>
    <ul class="navigation">
        <li ng-repeat="state in app.states" ui-sref="{{state.sref}}"
            ng-class="{ 'active' : app.state === state.sref }">{{state.name}}</li>
    </ul>
</header>
<div>{{app.message}}</div>
<div ui-view="main"></div>